Repository hnaarani/my-snap-rdma, changes with the owners that CODEOWNERS names for each.
All owners: @alex-mikheev, @shai-malin, @nitzancarmi, @andrii-holovchenko, @umanskymax, @valintinr, @isdrk, @BodongWang, @rraikhman, @DoronPod

snap_dma: error recovery unit tests
  tests/test_snap_dma.cc
Owners: @alex-mikheev

snap_dma: error recovery API
  src/snap_dma.h
Owners: @alex-mikheev

snap_dma: error recovery implementation
  src/mlx5_ifc.h
  src/snap_dma_control.c
  src/snap_dma_dv.c
  src/snap_dma_internal.h
Owners: @alex-mikheev, @shai-malin, @nitzancarmi

dpa: Introduce p2p flush message
  dpa/dpa_nvme.c
  dpa_app/dpa_nvme
  dpa_app/dpa_nvme_mp
  dpa_app/dpa_virtq_split
  src/snap_dma.h
  src/snap_dma_control.c
  src/snap_dma_dv.c
  src/snap_dpa_p2p.c
  src/snap_dpa_p2p.h
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Add ring buffer modify
  dpa/dpa_nvme_mp.c
  dpa_app/dpa_nvme
  dpa_app/dpa_nvme_mp
  dpa_app/dpa_virtq_split
  src/snap_dpa_nvme_mp_common.h
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Introduce ring buffers
  dpa/dpa_dma_utils.h
  dpa/dpa_nvme_mp.c
  src/snap_dpa_nvme_mp_common.h
  src/snap_dpa_p2p.c
  src/snap_dpa_p2p.h
  src/snap_macros.h
Owners: @alex-mikheev, @DoronPod, @shai-malin, @nitzancarmi

dpa_nvme_mp: CQE path perf improvements
  dpa/dpa_dma_utils.h
  dpa/dpa_nvme_mp.c
  src/snap_dpa_nvme_mp_common.h
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Introduce RB detach/destroy flow
  dpa/dpa_nvme_mp.c
  src/snap_dpa_nvme_mp_common.h
  src/snap_dpa_p2p.h
Owners: @alex-mikheev, @DoronPod

dpa: Fix dpa rq allocation
  dpa/dpa_common.c
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Create qp per core
  dpa/dpa.h
  dpa/dpa_common.c
  dpa/dpa_nvme.c
  dpa/dpa_nvme_mp.c
  dpa_app/dpa_nvme
  dpa_app/dpa_nvme_mp
  dpa_app/dpa_virtq_split
  src/snap_dpa_nvme_mp_common.h
  src/snap_dpa_rt.c
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Handle invalid nsid, small refactor
  dpa/dpa_nvme_mp.c
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: DPA memory optimizations
  src/snap_dpa_rt.c
  src/snap_dpa_rt.h
Owners: @alex-mikheev, @DoronPod

dpa_nvme_mp: Initial cqe path
  dpa/dpa_common.c
  dpa/dpa_nvme_mp.c
  src/snap_dpa_nvme_mp_common.h
  src/snap_dpa_rt.h
Owners: @alex-mikheev, @DoronPod

dpa: Update signed DPA images
  dpa_app/dpa_nvme
  dpa_app/dpa_nvme.sig
  dpa_app/dpa_nvme_mp
  dpa_app/dpa_nvme_mp.sig
  dpa_app/dpa_virtq_split
  dpa_app/dpa_virtq_split.sig
Owners: @alex-mikheev, @DoronPod

ci: added dbgsym packages
  .ci/upload.sh
  .ci/upload_dev.sh
Owners: @andrii-holovchenko, @umanskymax, @valintinr, @isdrk

snap_dma: Fix max WR count check at snap_dma_build_sgl
  src/snap_dma_dv.c
  src/snap_dma_internal.h
  src/snap_dma_verbs.c
Owners: @alex-mikheev

snap_dma: error recovery fixes
  src/snap_dma_control.c
  tests/test_snap_dma.cc
Owners: @alex-mikheev

snap_dma: Add snap_dma_q_rw_iov unit tests
  tests/test_snap_dma.cc
Owners: @alex-mikheev

snap_dma: Introduce snap_dma_q_readv2v
  src/snap_dma.c
  src/snap_dma_dv.c
  src/snap_dma_verbs.c
Owners: @alex-mikheev

subprojects: change flexio url to git-nbu
  subprojects/flexio.wrap
Owners: @alex-mikheev, @shai-malin, @nitzancarmi

core: DPA q start API also modify idx
  dpa/dpa_virtq_split.c
  dpa_app/dpa_virtq_split
  dpa_app/dpa_virtq_split.sig
  src/snap_dpa_virtq_common.h
Owners: @alex-mikheev, @DoronPod

added support for creating EP with alias objects - UAR, UMEM and DPA thread. needed when creating DPA EP that resides on different VHCA than the DPA process
  dpa/dpa.h
  meson.build
  src/meson.build
  src/mlx5_ifc.h
  src/snap_cross_gvmi.c
  src/snap_cross_gvmi.h
  src/snap_dma.h
  src/snap_dma_control.c
  src/snap_qp.c
Owners: @alex-mikheev, @DoronPod, @shai-malin, @nitzancarmi

added support for connecting EP to a remote QP. Changed snap_qp_modify_init2rtr to support remote connection
  dpa/meson.build
  dpa/snap_dma_compat.h
  src/snap_dma.h
  src/snap_dma_control.c
Owners: @alex-mikheev, @DoronPod

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @alex-mikheev @shai-malin @nitzancarmi

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies specific files, only its specific owner will will be requested
# for a review.

/.ci/   @andrii-holovchenko @umanskymax @valintinr @isdrk

*net*   @BodongWang

*fs*   @rraikhman

*blk*   @nitzancarmi @shai-malin
*common* @nitzancarmi @shai-malin

*dpa*       @alex-mikheev @DoronPod
*channel*   @alex-mikheev
*dma*       @alex-mikheev
